* {
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);

  /* background, headings, buttons */
  --very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-family: "Lexend Deca", sans-serif;
  /* font-family: "Big Shoulders Display"; */

  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
